.card-wrap {
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	align-items: stretch;
	background: linear-gradient(to bottom right, $white, darken($white, 10%));
	padding: 1em;
	border-radius: .5em;
	box-shadow: .25rem .5rem 1rem rgba($black, .5);
	margin-bottom: 1rem;
}
.card-img-wrap {
	flex-basis: 25%;
	img {
		box-shadow: 0 0 .5rem rgba($black, .5);
		border-radius: .75rem;
	}
}
.card-info {
	flex-basis: 75%;
	padding: 0 1rem;
	header {
		padding-bottom: .5rem;
		border-bottom: .25rem solid $blue;
		margin-bottom: .5rem;
	}
	footer {
		padding-top: .5rem;
		border-top: .25rem solid $blue;
		margin-top: .5rem;
	}
}
.card-info-mana-cost {
	float: right;
}
.card-info-text {
	font-size: .8em;
}
.card-info-set-number {
	font-weight: 400;
	text-align: right;
	color: rgba($black, .5);
}