.advanced-search, .layout-select {
	flex-basis: 10%;
}
.menu-toggle-btn, .layout-select-btn {
	display: block;
	margin: 0 auto;
	font-size: 1.25rem;
}
.menu, .layout-select-menu {
	position: absolute;
	top: -100vh;
	right: 1rem;
	z-index: 10;
	max-width: calc(100% - 2rem);
	max-height: 100vh;
	overflow: auto;
	opacity: 0;
	color: rgba($white, .9);
	background: linear-gradient(to bottom right, rgba($black, .9), rgba(lighten($black, 10%), .9));
	font-size: .8rem;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: .25rem .5rem 1rem rgba($black, .5);
  transition: {
    property: opacity;
    duration: .2s;
    timing-function: $cubic;
  }
	&.open {
		opacity: 1;
		top: 5rem;
	}
}
.menu {
	width: 30rem;
	max-height: calc(100vh - 8rem);
}
.menu-list {
	@include pseudo-list;
}
.layout-select-menu {
	width: 20rem;
	font-size: 1.5em;
	display: grid;
	grid: {
		template: {
			columns: repeat(2, 1fr);
			rows: auto;
		}
		gap: .5rem;
	}
}
.menu-item {
	padding: 0 0 .5rem;
	border-bottom: .25rem solid rgba($white, .5);
	margin-bottom: .5rem;
}
.menu-item-title {
	margin-bottom: .25rem;
}
.menu-choice-wrap {
	&.checkbox-menu-choices {
		display: grid;
		grid-template: {
			columns: repeat(2, 1fr);
			rows: auto;
		}
	}
	&.search-menu-choices {

	}
}
.layout-option {
	cursor: pointer;
	border-radius: .25rem;
  transition: {
    property: color, background;
    duration: .2s;
    timing-function: $cubic;
  }
	.fa {
		width: 2rem;
		text-align: center;
		transition: {
			property: color;
			duration: .2s;
			timing-function: $cubic;
		}
	}
	&:hover {
		color: $black;
		background: rgba($white, .9);
		.fa {
			color: $green;
		}
	}
}
@include breakpoint($tablet) {
	.layout-select-menu {
		grid-template-columns: repeat(4, 1fr) !important;
		width: 30rem !important;
	}
	.checkbox-menu-choices {
		grid-template-columns: repeat(3, 1fr) !important;
	}
}