::-webkit-scrollbar {
  width: .75rem;
}
::-webkit-scrollbar-button {
  display: block;
  background: $green;
  height: .75rem;
}
::-webkit-scrollbar-track {
  background: linear-gradient(lighten($black, 15%), lighten($black, 10%));
}
::-webkit-scrollbar-thumb {
  background: darken($green, 10%);
  cursor: pointer;
  border-radius: .25rem;
  &:hover {
    background: $green;
  }
}
